<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35260488507-ernm860p0j0g0sj8t2h0vp2jqpu6tnpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35260488507-ernm860p0j0g0sj8t2h0vp2jqpu6tnpj</string>
	<key>API_KEY</key>
	<string>AIzaSyA6GvdA27QNfy9lIr9d7dmMNz7MOaeGkIk</string>
	<key>GCM_SENDER_ID</key>
	<string>35260488507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examsAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>exams-d84b4</string>
	<key>STORAGE_BUCKET</key>
	<string>exams-d84b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35260488507:ios:f51e24fa2e11592874751e</string>
	<key>DATABASE_URL</key>
	<string>https://exams-d84b4-default-rtdb.firebaseio.com</string>
</dict>
</plist>